/* https://fonts.google.com/specimen/Poppins?sidebar.open=true&selection.family=Poppins:wght@200 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}